.tile{
    background-color: darkgoldenrod;
    background-image: url(./images/pexels-chan-walrus-941869.jpg);
    background-size: cover;
    opacity: 0.7;
    text-align: center;
    font-size: xx-large;
    
}
body{
    background-color: rgb(140, 190, 162);
}
p{
    font-family: 'Noto Sans Display', sans-serif;
    text-decoration: solid; 
    
}
a{
    text-decoration: none;
}
#images{
    border : 2px;
    display: inline-block;
    padding: 20px;

}
/*.images{
    /*display: inline-block;
     
    border: 2px solid green;
}
.images1{
    display: inline-block;
    padding: 16px;
}*/
.nav{
    background-color: khaki;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
#nav-bar{
    text-align: center;
    box-sizing: border-box;
    border: 2px;
    margin-right: 5%;
    margin-left: 5%;
    

    
    font-size: xx-large;
}
.footer{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    display: inline-block green;
    
}

label{
    font-family: 'Noto Sans Display', sans-serif;
    text-decoration: solid; 
}

#name{
    color: rgba(181, 36, 0, 1);
}
.log{
    display: flex;
    flex-direction: row-reverse;
    font-size: larger;
    text-decoration: none;
}
#logs{
    margin-left: 40px;
    margin-right: 40px;
    color: mediumblue;
    font-family: 'Noto Sans Display', sans-serif;
}