.tile{
    background-image: url(./images/pexels-chan-walrus-941869_edit.jpg);
    background-size: cover;
    text-align: center;
    font-size: xx-large;
    color: papayawhip;
    
}

p{
    font-family: 'Noto Sans Display', sans-serif;
    text-decoration: solid; 
    
}
a{
    text-decoration: none;
}

#images{
    border : 2px;
    padding: 20px;
    max-width: 20%;
    height: auto;
    

}
.img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
    padding: 10px;
    
    align-items: center;
}
/*.images{
    /*display: inline-block;
     
    border: 2px solid green;
}
.images1{
    display: inline-block;
    padding: 16px;
}*/
.nav{
    background-color: khaki;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
    
}
.nav a{
    text-align: center;
    box-sizing: border-box;
    border: 2px;
    margin-right: 5%;
    margin-left: 5%;
    

    
    font-size: xx-large;
}
.footer{
    text-align: center;
    background-color: black;
    color: cornsilk;

    
}
.foots{
    text-align: center;
    background-color: black;
    color: cornsilk;
}
label{
    font-family: 'Noto Sans Display', sans-serif;
    text-decoration: solid; 
}


.log{
    display: flex;
    flex-direction: row-reverse;
    font-size: larger;
    text-decoration: none;
}
#logs{
    margin-left: 40px;
    margin-right: 20px;
    color: mediumblue;
    font-family: 'Noto Sans Display', sans-serif;
}
.orders{
    background-color: black;
    color: cornsilk;
    text-align: center;
}
.orders label{
    width: 10px;
    height: 10px;
}